<!DOCTYPE html>
<html lang="ko">
    <head>
        <!--Meta Tags-->
        <meta charset="utf-8">
        <script data-ad-client="ca-pub-2701426579223876" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/819572615521107988/831534161755635722/1550868149376.png" style="border-radius: 10px;">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="/index.css">
        <title>아유 - 후원</title>    
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <!--HEADER-->
        <%- include('header'); -%>
        
            </script>
        <!--MAIN BODY-->
        <div class="d-flex justify-content-center head">
            <h1><span class="donateelt"></span></h1>
        </div>
        <div class="d-flex justify-content-center subtext2">
            <h2>16409285501015 기업은행 <br>예금주 : 김도현</h2>
        </div>
        <div class="d-flex justify-content-center">
            <div style="text-align: center;">
              <div style="margin-bottom: 1.25rem; color: white;">
                <h3>페이팔</h3>
                <a href="https://paypal.me/audiscord"><img src="https://cdn.discordapp.com/attachments/819572615521107988/831750758218465300/-1.png" width="220px" height="64px" style="border-radius: 10px; box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 15px; "></a>
              </div>
            </div>
        </div>
        <div class="container">
            <ins class="kakao_ad_area" style="display:none;" 
             data-ad-unit    = "DAN-s3S35nEmMXrHHhbv" 
             data-ad-width   = "320" 
             data-ad-height  = "100"></ins> 
            <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script></div>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script> var options = { strings: ['후원', '감사합니다'], typeSpeed: 40, backSpeed: 100, fadeOut: false, smartBackspace: true, cursorChar: '_', loop: true }; var typed = new Typed('.donateelt', options); </script>
    <%- include("footer") %>