<link href="https://cdn.jsdelivr.net/npm/`ootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link rel="stylesheet" href="/index.css">

<footer class="Footer_Footer_Main">
    <div class="text-center text-md-left container-sm">
    <div class="row">
        <div class="mt-md-0 mt-3 col-md-5">
            <h4 class="maintitle"><b>아유</b></h4>
            <h5>디스코드를 더 유용하게.</h5>
        </div>
        <div class="col-md-2">
            <h5 class="align-self-start"><b>사이트</b></h5>
            <ul class="list-unstyled">
                <li><a href="/">홈</a>
                </li>
                <li><a href="/commands">명령어</a>
                </li>
                <li><a href="/status">서버상태</a>
                </li>
                <li><a href="/donate">후원</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5 class="align-self-start"><b>가이드</b></h5>
            <ul class="list-unstyled">
                <li><a href="/privacy">개인정보처리방침</a></li>
                <li><a href="/commands">봇 가이드</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <h5 class="align-self-start"><b>소스</b></h5>
            <ul class="list-unstyled">
                <li><a href="https://github.com/kiss8981/AU-discord">오픈소스</a>
                </li>
            </ul>
        </div>
    </div>
    <h5 class="Copyright" style="font-size: 15px;">Copyright © 2021 Kisss All rights reserved.</h5>
</div>
</footer>

</body>
</html>