<!DOCTYPE html>
<html lang="ko">

<head>
    <!--Meta Tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script data-ad-client="ca-pub-2701426579223876" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon"
        href="https://cdn.discordapp.com/attachments/819572615521107988/831534161755635722/1550868149376.png"
        style="border-radius: 10px;">
    <link rel="stylesheet" href="/index.css">
    <title>아유 - 개인정보</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <!--HEADER-->
    <%- include('header'); -%>
        <div class="d-flex justify-content-center command_head" style="margin-top: 100px;">
            <h1> 개인정보처리방침 </h1>
        </div>
        <div class="container" style="text-align: center; margin-top: 90px; margin-bottom: 20px;">
            <script type="text/javascript">
                if (/android|webos|iphone|ipad|ipod|blackberry|windows phone/i.test(navigator.userAgent)) { (function () { document.writeln('<iframe width="320" height="50" allowtransparency="true" src="https://mtab.clickmon.co.kr/pop/wp_m_320.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1085997%7C%5E%7CAdver_M_1046207&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>'); })(); }
                else { (function () { document.writeln('<iframe width="728" height="90" allowtransparency="true" src="https://tab2.clickmon.co.kr/pop/wp_ad_728.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1085997%7C%5E%7CAdver_M_1046207&rt_ad_id_code=RTA_106578&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>'); })(); }
            </script>
        </div>
        <div class="shadow-sm container-sm">
            <h1 id="-"><b>아유 디스코드 봇 개인정보 처리 방침</b></h1>
            <h4 id="-">'아유 디스코드 봇'('http://audiscordbot.xyz/')은 개인정보보호법에 따라 이용자의 개인정보 보호
                및 권익을 보호하고 개인정보와 관련한 이용자의 고충을 원활하게 처리할 수 있도록 다음과 같은 처리방침을 두고 있습니다.</h4>
            <ul>
                <li>본 방침은 2021년 1월 1일부터 시행됩니다.</li>
            </ul>
            <br>
            <br>
            <h1 id="-"><b>개인정보의 처리 목적</b></h1><br>
            <p><strong>아유 디스코드 봇 은 다음의 목적을 위해 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음과 같은 목적 이외의 용도로는 이용되지 않습니다.</strong></p>
            <blockquote>
                <p>봇 서비스 제공 및 관리</p>
                <ul>
                    <li>봇 서비스 제공을 위한 사용자 식별을 목적으로 개인정보를 처리합니다.<br>
                        부정이용 방지 및 제재</li>
                    <li>오류 악용 및 버그 악용 등 부정이용 사용자의 적발과 제재를 목적으로 개인정보를 처리합니다.<br>
                        봇 개선 및 컨텐츠 추가</li>
                </ul>
            </blockquote>
            <ul>
                <li>사용자의 봇 이용 경험 개선, 신속한 오류 발견 및 처리, 사용자가 봇을 어떻게 사용하는지를 파악하여 다양한 컨텐츠를 추가하는 것 등을 목적으로 개인정보를 처리합니다.<br>
                </li>
            </ul>
            <br>
            <br>
            <h1 id="-"><b>개인정보의 처리 및 보유 기간</b></h1><br>
            <blockquote>
                <p>아유 디스코드 봇 은 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집시에 동의받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다.</p>
            </blockquote>
            <ul>
                <li>
                    <p>각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.</p>
                    <blockquote>
                        <p>봇 서비스 제공 및 관리</p>
                    </blockquote>
                </li>
                <li>
                    <p>수집 기간</p>
                    <ul>
                        <li>사용자의 봇 서비스 탈퇴시 까지</li>
                    </ul>
                </li>
                <li>
                    <p>처리 및 보유 기간</p>
                    <ul>
                        <li>
                            <p>사용자의 봇 서비스 탈퇴시 까지</p>
                        </li>
                        <li>
                            <p>다만, 다음과 같은 경우는 해당 사유 종료시까지</p>
                            <ol>
                                <li>부정이용이 의심되거나 적발된 경우 해당 사용자의 제재 완료 및 해당 부정이용 방지책 적용 완료시까지<br></li>
                                <li>정보주체와 법정대리인의 권리·의무 및 행사방법<ul>
                                                <li>정보주체는 아유 디스코드봇 에 대해 언제든지 개인정보 열람·정정·삭제·처리정지 요구 등의 권리를 행사할 수 있습니다.
                                                <li>제1항에 따른 권리 행사는 아유 디스코드 봇 공식 디스코드 서포트 서버에서 문의 채널을 통해 하실 수 있습니다.</li>
                                                <li>아유 디스코드 봇 은 정보주체 권리에 따른 열람의 요구, 정정·삭제의 요구, 처리정지의 요구 시 요구를 한 자의 고유 ID
                                                    대조를 통해 열람 등 요구를 한 자가 본인인지를 확인합니다.<br></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ol>
                        </li>
                    </ul>
                </li>
            </ul>
            <br>
            <br>
            <h1 id="-"><b>처리하는 개인정보 항목</b></h1><br>
            <blockquote>
                <p>아유 디스코드 봇 은 다음의 개인정보 항목을 처리하고 있습니다.</p>
            </blockquote>
            <ol>
                <li>
                    <p>봇 서비스 제공 및 관리</p>
                </li>
                <li>
                    <p>디스코드 사용자 정보</p>
                    <ul>
                        <li>사용자 고유 ID, 사용자 이름 및 서버 닉네임</li>
                    </ul>
                </li>
                <li>디스코드 서버 정보<ul>
                        <li>서버 고유 ID, 서버 이름, 서버 사용자 수, 서버 유저의 목록</li>
                        <li>디스코드 서버 채널 정보<ul>
                                <li>채널 고유 ID, 채널 이름, 채널 권한, 음성 채널 고유 ID</li>
                            </ul>
                        </li>
                        <li>디스코드 메시지 정보<ul>
                                <li>메시지 발신인, 메시지 발신 시각, 메시지 반응, 메시지를 보낸 채널, 메시지 내용</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>자가진단 전용 정보<ul>
                        <li>자가진단을 위한 암호화된 토큰값, 사용자 고유 ID, 사용자 이름</li>
                    </ul>
                </li>
            </ol>
            <br>
            <br>
            <h1 id="-"><b>개인정보 파기</b></h1><br>
            <blockquote>
                <p>개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체없이 해당 개인정보를 파기합니다.</p>
            </blockquote>
            <ol>
                <li>
                    <p>파기 절차</p>
                </li>
                <li>
                    <p>아유 디스코드 봇 은 파기 사유가 발생한 개인정보에 대해 즉시 파기합니다. 단, 정보주체로부터 동의받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른
                        법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여 일정 기간 보존됩니다.</p>
                </li>
            </ol>
            <br>
            <br>
            <h1 id="-"><b>개인정보의 안전성 확보조치</b></h1><br>
            <blockquote>
                <p>아유 디스코드 봇 은 개인정보의 안전성 확보를 위해 다음과 같은 조치를 취하고 있습니다.</p>
            </blockquote>
            <ul>
                <li>물리적 외부 접근 제한 <ul>
                        <li>개인정보가 보관되고 있는 장소는 외부에서 출입할 수 없도록 관리하고 있습니다.<br></li>
                    </ul>
                </li>
                <li>기술적 안정성 조치<ul>
                        <li>개인정보처리시스템은 외부 네트워크와 철저히 격리시키고 있으며 해킹 및 악성 소프트웨어에 의한 개인정보 유출, 조작을 막기 위해 보안프로그램 등의 각종 보안 조치를
                            적용하고 있습니다.</li>
                    </ul>
                </li>
                <li>중요 개인정보 암호화<ul>
                        <li>비밀번호와 같은 중요정보는 단방향 암호화되어 저장되며 이는 아유 디스코드 봇 을 비롯한 누구도 임의로 암호화를 해제하는 것이 불가능합니다.<br></li>
                    </ul>
                </li>
            </ul>
            <br>
            <br>
            <h1 id="-"><b>개인정보 자동 수집 장치의 설치·운영 및 그 거부에 관한 사항</b></h1><br>
                아유 디스코드 봇 은 이용자에게 봇 서비스를 제공하기 위해 봇이 관련 정보를 저장하고 수시로 불러옵니다. 이를 거부할 경우 봇 이용이 어려울 수 있습니다.
            <br>
            <br>
            <h1 id="-"><b>개인정보 보호 담당부서</b></h1><br>
            <blockquote>
                <p>아유 디스코드 봇 은 개인정보 처리에 관한 업무를 총괄해서 책임지고, 개인정보 처리와 관련한 정보주체의 불만처리 및 피해구제 등을 위하여 아래와 같이 개인정보 보호책임자를 지정하고
                    있습니다.</p>
            </blockquote>
            <ul>
                <li>
                    <p>개인정보 보호</p>
                    <ul>
                        <li>담당자 : Kisss#4904</li>
                        <li>연락처 : kdh89811@gmail.com</li>
                    </ul>
                </li>
            </ul>
                    <hr>
                    <p><strong>정보주체께서는 아유 디스코드 봇 의 서비스를 이용하시면서 발생한 모든 개인정보 보호 관련 문의, 불만처리, 피해구제 등에 관한 사항을 개인정보 보호책임자 및
                            담당부서로 문의하실 수 있습니다. 아유 디스코드 봇 은 정보주체의 문의에 대해 지체없이 답변 및 처리해드릴 것입니다.</strong></p>
            
        </div>
        <div class="container" style="text-align: center; margin-top: 20px; margin-bottom: 20px;">
            <script type="text/javascript">
                if (/android|webos|iphone|ipad|ipod|blackberry|windows phone/i.test(navigator.userAgent)) { (function () { document.writeln('<iframe width="320" height="50" allowtransparency="true" src="https://mtab.clickmon.co.kr/pop/wp_m_320.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1085997%7C%5E%7CAdver_M_1046207&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>'); })(); }
                else { (function () { document.writeln('<iframe width="728" height="90" allowtransparency="true" src="https://tab2.clickmon.co.kr/pop/wp_ad_728.php?PopAd=CM_M_1003067%7C%5E%7CCM_A_1085997%7C%5E%7CAdver_M_1046207&rt_ad_id_code=RTA_106578&mon_rf=REFERRER_URL" frameborder="0" scrolling="no"></iframe>'); })(); }
            </script>
        </div>

        <%- include("footer") %>